In [1]:
import tqdm
import numpy as np
import pandas as pd


# Functional Paradigm Intro

What other paradigms we have experienced?

> <b> Procedural Programming </b>
- Instructions are procedures.
- Side effects are its core.

> <b> Objected Oriented Programming </b>
- Instructions are grouped as part of a state of an object.

> <b> Functional Programming </b>
- No state exists. Just a serie of functions being evaluated. 
- No side effects.
- The solution obtained is entirely based on the input. Like in math where <code>f(x) = y</code>
- This idea leads to the fact that you can also <b>pass functions as arguments</b>. And this helps a lot.

In [ ]:
def add_one(x):
    return x + 1

In [ ]:
x = 2

In [ ]:
# functions can be thought as variables as well (!)
# add_one is just a name

f = add_one

In [ ]:
# now f receives add_one 

f(10)

In [ ]:
def add_two(x):
    return x + 2

In [ ]:
# so, if it can be thought as a variable, 
# can it be passed as an argument like any other variable? YES! 

def add_any(f, x):
    return f(x)

In [ ]:
add_any(add_one, 3)

In [ ]:
add_any(add_two, 3)

# Function definition

```python
def function_name(arg1):
    something = arg1 + 10
    return something
```

# Mapping concept

In [ ]:
# Simple list 
example_list = [10, 12, 34, 23, 2, 6, 7]

In [ ]:
# define a function that performs any operation: 

def half(x):
    return x/2

## How to apply that function to all elements of this list?

In [ ]:
# you cant simply:

half(example_list)

In [ ]:
# using a for loop
new_list = []

for item in example_list:
    new_list.append(half(item))
    
new_list

In [ ]:
# using list comprehensions
[half(item) for item in example_list]

In [ ]:
# using mapping:

map(half, example_list)

# what it does when you map a function onto a list is the below: 

# [half(10), half(12), half(34), half(23), half(2), half(6), half(7)]

Map is called `lazy`. When you run `map(function, my_list)`, it doesn't execute anything. It just stores what it needs to perform. Whenever you call it, it washes out the result.

In [ ]:
list(map(half, example_list))

# Lazy evaluation

Functional programming allows the idea of not calculating the whole function at once. 

These methods return only a `python object`. This haven't calculated nothing yet. As soon as you require the results, it calculates it.

In [ ]:
map(half, example_list)

In [ ]:
list(map(half, example_list))

In [ ]:
for item in map(half, example_list):
    print(item)

In [ ]:
set(map(half, example_list))

# Filter

`filter` helps removing elements of a list (or any iterator, anything you can run through) by passing a function that returns `True` or `False`. `filter` will also return a `python object`, but when you require it to show you the results, it will filter out every item that has return `False` on your function.

In [ ]:
def check_if_even(x):
    """
    Return True if x is even, else return False"""
    
    
    return x % 2 == 0

In [ ]:
example_list

In [ ]:
filter(check_if_even, example_list)

In [ ]:
list(filter(check_if_even, example_list))

In [ ]:
[item for item in example_list if item % 2 == 0]

In [ ]:
list(filter(check_if_even, example_list))

# Reduce

Reduce brings the idea of an `accumulator`. Imagine you have a function that performs a `sum` for each pair of arguments. `reduce` (from the library `functools`) will consider the first argument of your function an `accumulator` and will run through your iterator recursively applying your function for pairs of items.

For example, for the list [1,4,6,8]

If you perform the following function:
```python
def sum_two_elements(a,b):
    return a+b
```

as 
```python
reduce( sum_two_elements, [1,4,6,8] )
```

The steps it will perform are:
```python
a = 0 # accumulator
b = 1 # value
a + b = 1 # so the accumulator receives this cummulative sum

a = 1 # accumulator
b = 4 # value
a + b = 5
...
a = 5 # accumulator
b = 6 # value 
a + b = 11
...
a = 11 # accumulator
b = 8 # value
a + b = 19

return 19
```

In [ ]:
from functools import reduce

In [ ]:
def sum_two_elements(a,b):
    print(f'a = {a}, b={b}')
    return a+b

In [ ]:
reduce( sum_two_elements, [1,4,6,8])

In [ ]:
reduce( sum_two_elements, ['Raiana ','Rocha ', 'Oliveira '])

In [ ]:
''.join(['Raiana ','Rocha ', 'Oliveira '])

In [ ]:
def my_sum(acc, value):
    print(acc, value)
    if acc % 2 == 0:
        return_value = acc+value
    else:
        return_value = acc

    return return_value

In [ ]:
example_list

In [ ]:
# sum up to the sum gets an odd value
reduce(my_sum, example_list)

In [ ]:
example_list

In [ ]:
example_list2 = ['a','b', 'c', 'd']

In [ ]:
def my_sum(a,b):
    return a + b

In [ ]:
sum(example_list2)

In [ ]:
reduce(my_sum, example_list2)

# Mapping on Pandas

> <code> df['col_name'].apply() </code>

In [3]:
n = 100

In [4]:
df = pd.DataFrame(np.random.random(n), columns=['number'])

In [ ]:
df

In [ ]:
def greater_than_half(x):
    if x > 0.5:
        return True
    else:
        return False

In [ ]:
greater_than_half(df['number'])

In [ ]:
df['number'].apply(greater_than_half)

> Pandas Series have both `map` and `apply`. The most used, though, is the `apply` method.

In [ ]:
df['is_greater_than_half'] = df['number'].apply(greater_than_half)

In [ ]:
df

---

In [ ]:
import re

In [5]:
names = ['andre', 'Andre', 'André','ANDRE','ANDRÉ', 'Joao','Carlos', 'Maria', 'Jose']
df = pd.DataFrame(np.random.choice(names, n), columns=['names'])
df

     names
0    ANDRÉ
1    André
2    Maria
3     Joao
4     Jose
..     ...
95   André
96  Carlos
97    Jose
98   Maria
99   André

[100 rows x 1 columns]

In [ ]:
df['names'].value_counts()

In [ ]:
## task: replace all occurrences of my name to Andre

In [ ]:
def change_names(name):
    return re.sub('[Aa][Nn][Dd][Rr][EeÉé]', 'Andre', name)

In [ ]:
change_names(df['names'])

In [ ]:
df['names'] = df['names'].apply(change_names)
df['names']

In [ ]:
df['names'].value_counts()

# Apply functions with arguments.

In [ ]:
def my_replace(x, index):
    """
    If index = 0, returns the name
    If index = 1, returns the profession
    """
    return x.replace('_',' ').split()[index]

In [ ]:
example_df = pd.DataFrame({'names': ['Andre_LT','Matheus_TA','Joao_Student','Jose_Student']})

In [ ]:
my_replace('Matheus_TA', 0)

In [ ]:
example_df['profissao'] = example_df['names'].apply(my_replace, index=1)
example_df['nome'] = example_df['names'].apply(my_replace, index=0)

# Apply in axis = 1

Whenever you map (apply) on a pandas dataframe using axis=1, you'll be able to have access to the rows of the dataframe on your function.

In [6]:
df = pd.DataFrame()
df['type'] = example_df['names'].apply(my_replace, index=1)
df['name'] = example_df['names'].apply(my_replace, index=0)
df['score'] = [6, 7, 8, 7]

NameError: name 'example_df' is not defined

In [ ]:
df

In [ ]:
def has_passed(row):
    if row['type'] == 'Student':
        if row['score'] > 7:
            return 'pass'
        else:
            return 'fail'
    else:
        if row['score'] > 6:
            return 'pass'
        else:
            return 'fail'

In [ ]:
df.apply(has_passed, axis=1)