# Pandas: Importing and Exporting

## Importing and Exporting DELIMITED FILES

### Comma separated values (CSV) files

A file that is separated (or delimited) by commas (or anything else)

Example:
    
**-- comma separated file --**

    name,year,value
    Andre,2020,100
    Fernanda,1900,1
    
**-- tab separated file --**

    name    year    value
    Andre    2020    100
    Fernanda    1900    1
    
**-- tab separated file (another way) --**

    name\tyear\tvalue
    Andre\t2020\t100
    Fernanda\t1900\t1
    
**-- hash separated file --**

    name#year#value
    Andre#2020#100
    Fernanda#1900#1

**-- pipe separated file --**

    name|year|value
    Andre|2020|100
    Fernanda|1900|1

    ...

# Import comma-separated values file - csv (the default)

In [1]:
import pandas as pd

In [21]:
pwd

'C:\\Users\\raian\\OneDrive\\Documentos\\IronHack\\ironhack-course-before-class\\ironhack-course\\full-time\\week2\\3-pandas-import-export'

In [51]:
'C:\\Users\\raian\\OneDrive\\Documentos\\IronHack\\ironhack-course-before-class\\ironhack-course\\full-time\\week2\\3-pandas-import-export'.replace('\\','/')

'C:/Users/raian/OneDrive/Documentos/IronHack/ironhack-course-before-class/ironhack-course/full-time/week2/3-pandas-import-export'

In [49]:
# relative path
df = pd.read_csv('data/vehicles.csv')

In [50]:
df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [8]:
data = pd.read_csv('C:/Users/raian/OneDrive/Documentos/IronHack/ironhack-course-before-class/ironhack-course/full-time/week2/3-pandas-import-export/data/vehicles.csv')

In [9]:
data

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [24]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950

In [27]:
df.tail()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.0,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.0,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.0,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.0,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.0,1150

In [18]:
df.describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [5]:
# relative path
pd.read_csv('../3-pandas-import-export/data/vehicles.csv')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In this way, the `pd.read_csv()` method is just outputing the results on screen.

If I wanted to store it in a variable I would have to **assign** this result into a variable

In [28]:
import os

In [33]:
os.listdir('../3-pandas-import-export/data')

['image.png', 'vehicles.csv']

In [28]:
pd.read_csv('data/vehicles.csv')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [34]:
vehicles = pd.read_csv('data/vehicles.csv')

In [35]:
vehicles.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

## Import tab-delimited file

In [36]:
# ParserError

pd.read_csv('data/vehicles_tab.txt')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4319, saw 2

In [63]:
pd.read_csv('data/vehicles_tab.txt', sep=';')

      Make\tModel\tYear\tEngine Displacement\tCylinders\tTransmission\tDrivetrain\tVehicle Class\tFuel Type\tFuel Barrels/Year\tCity MPG\tHighway MPG\tCombined MPG\tCO2 Emission Grams/Mile\tFuel Cost/Year
0      AM General\tDJ Po Vehicle 2WD\t1984\t2.5\t4.0\...
1      AM General\tFJ8c Post Office\t1984\t4.2\t6.0\t...
2      AM General\tPost Office DJ5 2WD\t1985\t2.5\t4....
3      AM General\tPost Office DJ8 2WD\t1985\t4.2\t6....
4      ASC Incorporated\tGNX\t1987\t3.8\t6.0\tAutomat...
...                                                  ...
35947  smart\tfortwo coupe\t2013\t1.0\t3.0\tAuto(AM5)...
35948  smart\tfortwo coupe\t2014\t1.0\t3.0\tAuto(AM5)...
35949  smart\tfortwo coupe\t2015\t1.0\t3.0\tAuto(AM5)...
35950  smart\tfortwo coupe\t2016\t0.9\t3.0\tAuto(AM6)...
35951  smart\tfortwo coupe\t2016\t0.9\t3.0\tManual 5-...

[35952 rows x 1 columns]

In [40]:
pd.read_csv('data/vehicles_tab.txt', sep='\t')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

## Import pipe delimited file

In [39]:
pd.read_csv('data/vehicles_pipe.txt')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4319, saw 2

In [66]:
pd.read_csv('data/vehicles_pipe.txt', sep=';')

      Make|Model|Year|Engine Displacement|Cylinders|Transmission|Drivetrain|Vehicle Class|Fuel Type|Fuel Barrels/Year|City MPG|Highway MPG|Combined MPG|CO2 Emission Grams/Mile|Fuel Cost/Year
0      AM General|DJ Po Vehicle 2WD|1984|2.5|4.0|Auto...
1      AM General|FJ8c Post Office|1984|4.2|6.0|Autom...
2      AM General|Post Office DJ5 2WD|1985|2.5|4.0|Au...
3      AM General|Post Office DJ8 2WD|1985|4.2|6.0|Au...
4      ASC Incorporated|GNX|1987|3.8|6.0|Automatic 4-...
...                                                  ...
35947  smart|fortwo coupe|2013|1.0|3.0|Auto(AM5)|Rear...
35948  smart|fortwo coupe|2014|1.0|3.0|Auto(AM5)|Rear...
35949  smart|fortwo coupe|2015|1.0|3.0|Auto(AM5)|Rear...
35950  smart|fortwo coupe|2016|0.9|3.0|Auto(AM6)|Rear...
35951  smart|fortwo coupe|2016|0.9|3.0|Manual 5-spd|R...

[35952 rows x 1 columns]

In [42]:
df = pd.read_csv('data/vehicles_pipe.txt', sep='|')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

## Import hash delimited file

In [42]:
# hash
df = pd.read_csv('data/vehicles_hash.txt', sep='#')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

# Importing files from URLs

pd.Example: https://github.com/rfordatascience/tidytuesday

In [28]:
#pd.options.display.max_rows=5
#pd.options.display.max_columns=99

In [65]:
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-07-07/coffee_ratings.csv')
df.head()

,total_cup_points,species,owner,country_of_origin,farm_name,lot_number,mill,ico_number,company,altitude,region,producer,number_of_bags,bag_weight,in_country_partner,harvest_year,grading_date,owner_1,variety,processing_method,aroma,flavor,aftertaste,acidity,body,balance,uniformity,clean_cup,sweetness,cupper_points,moisture,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,certification_address,certification_contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,NaN,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,0.12,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,0.12,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,NaN,NaN,5,1,Specialty Coffee Association,NaN,"May 31st, 2010",Grounds for Health Admin,Bourbon,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,0.00,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,320,60 kg,METAD Agricultural Development plc,2014,"March 26th, 2015",Yidnekachew Dabessa,NaN,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,0.11,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,0.12,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [30]:
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-01-14/passwords.csv')
df.describe()

,rank,value,offline_crack_sec,rank_alt,strength,font_size
count,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.000000
mean,250.500000,5.602660,5.000096e-01,251.224000,7.432000,10.298000
std,144.481833,8.436005,2.658132e+00,145.052163,5.415536,3.651282
min,1.000000,1.290000,1.110000e-07,1.000000,0.000000,0.000000
25%,125.750000,3.430000,3.210000e-03,125.750000,6.000000,10.000000
50%,250.500000,3.720000,3.210000e-03,251.500000,7.000000,11.000000
75%,375.250000,3.720000,8.350000e-02,376.250000,8.000000,11.000000
max,500.000000,92.270000,2.927000e+01,502.000000,48.000000,28.000000

## Problems you may encounter: Encoding

`encoding` refers to how the strings are represented under the hood

- specifying 
```python 
encoding = 'latin1'
```  
usually handles problems refering to strings with accents

In [83]:
pd.read_csv('data/CSV.8859-1.csv', )

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe1 in position 1: invalid continuation byte

In [47]:
df = pd.read_csv('data/CSV.8859-1.csv', encoding='latin1', sep=';')

In [48]:
df

,Data,Projeto(s),Ini,Ter,Horas,Atividade,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"qui, 02/01",GTE,11:30,12:00,00:30,Tarefas administrativas,NaN,NaN,NaN,NaN
1,"qui, 02/01",GTE,13:00,13:30,00:30,Apontamento de horas,NaN,NaN,NaN,NaN
2,"qui, 02/01",GTE,13:30,14:00,00:30,Tarefas administrativas,NaN,NaN,NaN,NaN
3,"qui, 02/01",GTE - FC,14:00,15:00,01:00,Troubleshooting Contrato X Rubricas,NaN,NaN,NaN,NaN
4,"qui, 02/01",GTE,15:00,15:30,00:30,Tarefas administrativas,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
93,"qua, 29/01",PRODESP,16:30,17:30,01:00,Sistemas APESP,NaN,NaN,NaN,NaN
94,"qui, 30/01",PRODESP,14:00,18:00,04:00,Sistemas APESP,NaN,NaN,NaN,NaN
95,"sex, 31/01",RS,10:30,12:00,01:30,Revisão query Inova,NaN,NaN,NaN,NaN
96,"sex, 31/01",GTE,12:00,12:30,00:30,Tarefas administrativas,NaN,NaN,NaN,NaN
97,"sex, 31/01",PRODESP,13:30,14:30,01:00,Sistemas APESP,NaN,NaN,NaN,NaN

# Importing Excel Files

In [43]:
# read_csv wont work here
pd.read_csv('data/vehicles.xlsx', encoding='latin1', sep=';')

ParserError: Error tokenizing data. C error: Expected 3 fields in line 22, saw 5

In [1]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
Note: you may need to restart the kernel to use updated packages.

In [54]:
pd.read_excel('data/vehicles.xlsx',engine = 'openpyxl')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

## Read from specific excel sheet

In [55]:
df_excel = pd.read_excel('data/dados_artigo1.xlsx',None)
#df['PT']

In [58]:
df_excel['PT'].head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Porc_remocao_macrofita,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,NaN,C1 Entrada,T1 Entrada,C1 Saída,T1 Saída,C2 Entrada,T2 Entrada,C2 Saída,T2 Saída,C3 Entrada,...,T10,T3,T7,T10,NaN,NaN,Temperatura,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,0.274,0.234,0.37,0.126,0.232,0.244,0.065,0.088,0.227,...,61.23348,46.153846,0,0,wet,NaN,21.07143,wet,21.81488,dry
4,2.0,0.179,0.159,0.366,0.376,0.167,0.152,0.1,0.146,0.169,...,61.881188,0,0,41.762845,wet,NaN,22.18036,wet,21.18214,dry

### Extra: merged cells

In [59]:
pd.options.display.max_columns = 99

In [61]:
excel = pd.read_excel('data/dados_artigo1.xlsx',None)
excel.keys()

dict_keys(['Sheet1', 'PT', 'PT e NT na planta', 'PO4', 'Precipitation', 'Irradiacao Solar', 'DBO', 'NT', 'COR', 'TURBIDEZ', 'SST', 'PCA', 'dataset', 'PCA2', 'dinamica'])

In [41]:
pd.read_excel('data/dados_artigo1.xlsx', sheet_name='PT')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Porc_remocao,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Porc_remocao_macrofita,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,NaN,C1 Entrada,T1 Entrada,C1 Saída,T1 Saída,C2 Entrada,T2 Entrada,C2 Saída,T2 Saída,C3 Entrada,T3 Entrada,C3 Saída,T3 Saída,NaN,TS3,T3,TS7,T7,TS10,T10,T3,T7,T10,NaN,NaN,Temperatura,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,0.274,0.234,0.37,0.126,0.232,0.244,0.065,0.088,0.227,0.227,0.087,0.088,NaN,0,46.1538,71.9828,63.9344,61.674,61.2335,46.1538,0,0,wet,NaN,21.0714,wet,21.814880,dry
4,2.0,0.179,0.159,0.366,0.376,0.167,0.152,0.1,0.146,0.169,0.202,0.135,0.077,NaN,0,0,40.1198,3.94737,20.1183,61.8812,0,0,41.7628,wet,NaN,22.1804,wet,21.182140,dry
5,3.0,1.852,3.072,0.342,0.236,1.627,1.852,0.196,0.187,3.327,1.699,0.206,0.228,NaN,81.5335,92.3177,87.9533,89.9028,93.8082,86.5803,10.7842,1.94952,0,wet,NaN,21.9149,wet,19.051190,dry
6,4.0,1.042,1.087,0.178,0.103,1.099,1.317,0.173,0.045,1.747,1.124,0.125,0.068,NaN,82.9175,90.5244,84.2584,96.5831,92.8449,93.9502,7.60691,12.3247,1.1053,wet,NaN,21.8214,wet,19.124400,dry
7,5.0,0.247,0.224,0.162,0.108,0.249,0.264,0.155,0.065,0.234,0.242,0.155,0.06,NaN,34.413,51.7857,37.751,75.3788,33.7607,75.2066,17.3728,37.6278,41.4459,wet,NaN,22.5077,wet,21.103570,dry
8,6.0,1.037,1.982,0.176,0.03,1.037,1.982,0.032,0,1.037,1.982,0.062,0,NaN,83.028,98.4864,96.9142,100,94.0212,100,15.4584,3.08582,5.97878,wet,NaN,23.4309,wet,19.887500,dry
9,7.0,0.699,0.849,0.294,0.123,0.739,0.747,0.273,0.057,0.689,0.692,0.143,0.035,NaN,57.9399,85.5124,63.0582,92.3695,79.2453,94.9422,27.5725,29.3113,15.6969,wet,NaN,22.9065,wet,19.139290,dry
10,8.0,0.264,0.279,0.228,0.126,0.232,0.252,0.173,0.024,0.234,0.227,0.102,0.05,NaN,13.6364,54.8387,25.431,90.4762,56.4103,77.9736,41.2023,65.0452,21.5633,wet,NaN,22.6589,wet,16.010120,dry
11,9.0,0.532,0.557,0.243,0.065,0.607,2.107,0.226,0.042,0.739,1.017,0.102,0.05,NaN,54.3233,88.3303,62.7677,98.0066,86.1976,95.0836,34.007,35.2389,8.88601,dry,NaN,20.2589,wet,16.885120,dry
12,10.0,0.069,0.113,0.017,0.014,0.063,0.066,0.053,0,0.062,0.063,0.012,0.001,NaN,75.3623,87.6106,15.873,100,80.6452,98.4127,12.2483,84.127,17.7675,dry,NaN,18.5351,wet,18.069050,dry
13,11.0,2.883,13.923,1.023,0.399,2.103,3.168,0.887,0.117,1.788,1.721,0.464,0.132,NaN,64.5161,97.1342,57.8222,96.3068,74.0492,92.33,32.6181,38.4847,18.2808,dry,NaN,20.3393,wet,16.007140,dry
14,12.0,2.313,3.648,1.047,0.263,2.343,5.973,0.911,0.026,2.748,2.628,0.321,0.003,NaN,54.7341,92.7906,61.1182,99.5647,88.3188,99.8858,38.0565,38.4465,11.5671,dry,NaN,17.803,wet,18.222620,dry
15,13.0,0.423,0.438,1.426,0.171,0.461,0.386,0.927,0.072,0.438,0.423,0.434,0.102,NaN,0,60.9589,0,81.3472,0.913242,75.8865,60.9589,81.3472,74.9733,dry,NaN,18.8548,wet,16.560710,dry
16,14.0,2.216,3.858,0.918,0.369,2.336,4.331,0.532,0.171,2.471,1.998,0.669,0.163,NaN,58.574,90.4355,77.226,96.0517,72.9259,91.8418,31.8615,18.8257,18.9159,dry,NaN,21.0987,NaN,16.724400,dry
17,15.0,4.691,4.721,1.039,0.468,4.758,4.811,0.661,0.468,4.976,4.863,0.774,0.186,NaN,77.8512,90.0868,86.1076,90.2723,84.4453,96.1752,12.2356,4.16468,11.7299,dry,NaN,NaN,NaN,18.598810,dry
18,16.0,4.391,4.323,0.888,0.827,4.593,4.503,0.585,0.171,5.111,6.281,0.427,0.095,NaN,79.7768,80.8698,87.2632,96.2025,91.6455,98.4875,1.09295,8.9393,6.84203,dry,NaN,NaN,NaN,20.526430,dry
19,17.0,7.421,7.466,0.583,0.056,6.746,7.503,0.659,0.192,7.001,7.376,0.335,0.033,NaN,92.1439,99.2499,90.2312,97.441,95.215,99.5526,7.10602,7.20978,4.33763,dry,NaN,NaN,NaN,18.681711,NaN
20,18.0,0.483,0.476,0.425,0.071,0.551,0.498,0.629,0.086,0.491,0.536,0.365,0.033,NaN,12.0083,85.084,0,82.7309,25.6619,93.8433,73.0758,82.7309,68.1814,dry,NaN,NaN,NaN,NaN,NaN
21,19.0,0.573,0.858,0.297,0.525,0.633,0.618,0.591,0.291,0.911,0.573,0.365,0.101,NaN,48.1675,38.8112,6.63507,52.9126,59.9341,82.3735,0,46.2776,22.4393,dry,NaN,NaN,NaN,NaN,NaN
22,20.0,0.596,0.678,0.185,0.554,0.596,0.633,0.427,0.133,0.558,0.566,0.321,0.363,NaN,68.9597,18.2891,28.3557,78.9889,42.4731,35.8657,0,50.6332,0,dry,NaN,NaN,NaN,NaN,NaN
23,21.0,0.612,0.605,0.564,0.218,0.552,0.552,0.769,0.142,0.537,0.567,0.988,0.104,NaN,7.84314,63.9669,0,74.2754,0,81.6578,56.1238,74.2754,81.6578,dry,NaN,NaN,NaN,NaN,NaN
24,22.0,1.49,1.385,0.747,0,1.46,1.43,0.656,0.571,1.46,1.475,0,0.112,NaN,49.8658,100,55.0685,60.0699,100,92.4068,50.1342,5.00144,0,dry,NaN,NaN,NaN,NaN,NaN
25,23.0,0.905,0.89,0.903,0.301,0.965,0.875,0.601,0.149,0.935,1.752,0.586,0.195,NaN,0.220994,66.1798,37.7202,82.9714,37.3262,88.8699,65.9588,45.2512,51.5437,dry,NaN,NaN,NaN,NaN,NaN
26,24.0,1.925,1.85,0.71,0.173,1.76,2.052,0.672,0.043,2.322,2.195,0.551,0.066,NaN,63.1169,90.6486,61.8182,97.9045,76.2705,96.9932,27.5318,36.0863,20.7227,dry,NaN,NaN,NaN,NaN,NaN
27,25.0,1.842,1.985,0.639,0.255,1.85,1.752,0.48,0.233,1.887,1.76,0.692,0.149,NaN,65.3094,87.1537,74.0541,86.7009,63.328,91.5341,21.8442,12.6469,28.2061,wet,NaN,NaN,NaN,NaN,NaN
28,26.0,0.56,0.507,0.878,0.261,1.115,0.132,0.689,0.541,1.137,0.552,0.742,0.156,NaN,0,48.5207,38.2063,0,34.7405,71.7391,48.5207,0,36.9986,wet,NaN,NaN,NaN,NaN,NaN
29,27.0,0.324,0.444,0.232,0.072,0.311,0.324,0.104,0,0.329,0.639,0,0,NaN,28.3951,83.7838,66.5595,100,100,100,55.3887,33.4405,0,wet,NaN,NaN,NaN,NaN,NaN
30,28.0,0.389,0.499,0.157,0,0.341,0.536,0.19,0,0.386,0.421,0,0,NaN,59.6401,100,44.2815,100,100,100,40.3599,55.7185,0,wet,NaN,NaN,NaN,NaN,NaN
31,29.0,0.206,0.204,0.185,0,0.214,0.214,0,0,0.211,0.216,0,0,NaN,10.1942,100,100,100,100,100,89.8058,0,0,wet,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,média total,45.6714,75.5008,53.744,82.2186,67.1025,87.4037,31.8993,31.3169,21.0553,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wet,39.7698,72.2367,63.89,76.8687,71.5347,85.7724,32.4669,19.3192,14.8275,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dry,50.4665,78.1529,45.5004,86.5654,63.5013,88.7291,31.4381,41.065,26.1153,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
pd.read_excel('data/dados_artigo1.xlsx', sheet_name='PT', usecols='O:W', header=1, skiprows=[2,3])

,TS3,T3,TS7,T7,TS10,T10,T3.1,T7.1,T10.1
0,0.000000,46.153846,71.982759,63.934426,61.674009,61.233480,46.153846,0.000000,0.000000
1,0.000000,0.000000,40.119760,3.947368,20.118343,61.881188,0.000000,0.000000,41.762845
2,81.533477,92.317708,87.953288,89.902808,93.808236,86.580341,10.784231,1.949520,0.000000
3,82.917466,90.524379,84.258417,96.583144,92.844877,93.950178,7.606913,12.324727,1.105301
4,34.412955,51.785714,37.751004,75.378788,33.760684,75.206612,17.372759,37.627784,41.445928
5,83.027965,98.486377,96.914176,100.000000,94.021215,100.000000,15.458412,3.085824,5.978785
6,57.939914,85.512367,63.058187,92.369478,79.245283,94.942197,27.572453,29.311291,15.696914
7,13.636364,54.838710,25.431034,90.476190,56.410256,77.973568,41.202346,65.045156,21.563312
8,54.323308,88.330341,62.767710,98.006645,86.197564,95.083579,34.007033,35.238934,8.886015
9,75.362319,87.610619,15.873016,100.000000,80.645161,98.412698,12.248301,84.126984,17.767537
10,64.516129,97.134238,57.822159,96.306818,74.049217,92.330041,32.618109,38.484659,18.280824
11,54.734112,92.790570,61.118224,99.564708,88.318777,99.885845,38.056459,38.446483,11.567067
12,0.000000,60.958904,0.000000,81.347150,0.913242,75.886525,60.958904,81.347150,74.973283
13,58.574007,90.435459,77.226027,96.051720,72.925941,91.841842,31.861452,18.825693,18.915901
14,77.851204,90.086846,86.107608,90.272293,84.445338,96.175200,12.235642,4.164684,11.729863
15,79.776816,80.869766,87.263227,96.202532,91.645471,98.487502,1.092950,8.939305,6.842031
16,92.143916,99.249933,90.231248,97.441024,95.214969,99.552603,7.106017,7.209775,4.337634
17,12.008282,85.084034,0.000000,82.730924,25.661914,93.843284,73.075752,82.730924,68.181369
18,48.167539,38.811189,6.635071,52.912621,59.934138,82.373473,0.000000,46.277550,22.439335
19,68.959732,18.289086,28.355705,78.988942,42.473118,35.865724,0.000000,50.633237,0.000000
20,7.843137,63.966942,0.000000,74.275362,0.000000,81.657848,56.123805,74.275362,81.657848
21,49.865772,100.000000,55.068493,60.069930,100.000000,92.406780,50.134228,5.001437,0.000000
22,0.220994,66.179775,37.720207,82.971429,37.326203,88.869863,65.958781,45.251221,51.543660
23,63.116883,90.648649,61.818182,97.904483,76.270457,96.993166,27.531766,36.086302,20.722710
24,65.309446,87.153652,74.054054,86.700913,63.328034,91.534091,21.844206,12.646859,28.206057
25,0.000000,48.520710,38.206278,0.000000,34.740545,71.739130,48.520710,0.000000,36.998585
26,28.395062,83.783784,66.559486,100.000000,100.000000,100.000000,55.388722,33.440514,0.000000
27,59.640103,100.000000,44.281525,100.000000,100.000000,100.000000,40.359897,55.718475,0.000000
28,10.194175,100.000000,100.000000,100.000000,100.000000,100.000000,89.805825,0.000000,0.000000
29,45.671416,75.500814,53.744029,82.218610,67.102517,87.403681,31.899294,31.316891,21.055269
30,39.769764,72.236711,63.889997,76.868701,71.534729,85.772368,32.466948,19.319242,14.827517
31,50.466509,78.152897,45.500430,86.565411,63.501344,88.729123,31.438075,41.064981,26.115317

# Exporting datasets

## Export TO CSV

In [66]:
df.head()

,total_cup_points,species,owner,country_of_origin,farm_name,lot_number,mill,ico_number,company,altitude,region,producer,number_of_bags,bag_weight,in_country_partner,harvest_year,grading_date,owner_1,variety,processing_method,aroma,flavor,aftertaste,acidity,body,balance,uniformity,clean_cup,sweetness,cupper_points,moisture,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,certification_address,certification_contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,NaN,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,0.12,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,0.12,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,NaN,NaN,5,1,Specialty Coffee Association,NaN,"May 31st, 2010",Grounds for Health Admin,Bourbon,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,0.00,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,320,60 kg,METAD Agricultural Development plc,2014,"March 26th, 2015",Yidnekachew Dabessa,NaN,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,0.11,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,0.12,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [67]:
df.to_csv('data/teste1.csv')

In [69]:
pd.read_csv('data/teste1.csv').drop('Unnamed: 0',axis=1)

,total_cup_points,species,owner,country_of_origin,farm_name,lot_number,mill,ico_number,company,altitude,region,producer,number_of_bags,bag_weight,in_country_partner,harvest_year,grading_date,owner_1,variety,processing_method,aroma,flavor,aftertaste,acidity,body,balance,uniformity,clean_cup,sweetness,cupper_points,moisture,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,certification_address,certification_contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,NaN,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.00,10.00,10.00,8.75,0.12,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.00,10.00,10.00,8.58,0.12,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,NaN,NaN,5,1,Specialty Coffee Association,NaN,"May 31st, 2010",Grounds for Health Admin,Bourbon,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.00,10.00,10.00,9.25,0.00,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,320,60 kg,METAD Agricultural Development plc,2014,"March 26th, 2015",Yidnekachew Dabessa,NaN,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.00,10.00,10.00,8.67,0.11,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.00,10.00,10.00,8.58,0.12,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,78.75,Robusta,luis robles,Ecuador,robustasa,Lavado 1,our own lab,NaN,robustasa,NaN,"san juan, playas",Café Robusta del Ecuador S.A.,1,2 kg,Specialty Coffee Association,2016,"January 19th, 2016",Luis Robles,NaN,NaN,7.75,7.58,7.33,7.58,5.08,7.83,10.00,10.00,7.75,7.83,0.00,0,0.0,Blue-Green,1,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1335,78.08,Robusta,luis robles,Ecuador,robustasa,Lavado 3,own laboratory,NaN,robustasa,40,"san juan, playas",Café Robusta del Ecuador S.A.,1,2 kg,Specialty Coffee Association,2016,"January 19th, 2016",Luis Robles,NaN,NaN,7.50,7.67,7.75,7.75,5.17,5.25,10.00,10.00,8.42,8.58,0.00,0,0.0,Blue-Green,0,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,40.0,40.0,40.0
1336,77.17,Robusta,james moore,United States,fazenda cazengo,NaN,cafe cazengo,NaN,global opportunity fund,795 meters,"kwanza norte province, angola",Cafe Cazengo,1,1 kg,Specialty Coffee Association,2014,"December 23rd, 2014",James Moore,NaN,Natural / Dry,7.33,7.33,7.17,7.42,7.50,7.17,9.33,9.33,7.42,7.17,0.00,0,0.0,NaN,6,"December 23rd, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,795.0,795.0,795.0
1337,75.08,Robusta,cafe politico,India,NaN,NaN,NaN,14-1118-2014-0087,cafe politico,NaN,NaN,NaN,1,5 lbs,Specialty Coffee Association,2013,"August 25th, 2014",Cafe Politico,NaN,Natural / Dry,7.42,6.83,6.75,7.17,7.25,7.00,9.33,9.33,7.08,6.92,0.10,20,0.0,Green,1,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1338,73.75,Robusta,cafe politico,Vietnam,NaN,NaN,NaN,NaN,cafe politico,NaN,NaN,NaN,1,5 lbs,Specialty Coffee Association,2013,"August 25th, 2014",Cafe Politico,NaN,Natural / Dry,6.75,6.67,6.50,6.83,6.92,6.83,9.33,9.33,6.67,7.92,0.12,63,0.0,None,9,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN

In [70]:
pd.read_csv('data/teste1.csv',index_col = 0)

,total_cup_points,species,owner,country_of_origin,farm_name,lot_number,mill,ico_number,company,altitude,region,producer,number_of_bags,bag_weight,in_country_partner,harvest_year,grading_date,owner_1,variety,processing_method,aroma,flavor,aftertaste,acidity,body,balance,uniformity,clean_cup,sweetness,cupper_points,moisture,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,certification_address,certification_contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,NaN,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.00,10.00,10.00,8.75,0.12,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.00,10.00,10.00,8.58,0.12,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,NaN,NaN,5,1,Specialty Coffee Association,NaN,"May 31st, 2010",Grounds for Health Admin,Bourbon,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.00,10.00,10.00,9.25,0.00,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,320,60 kg,METAD Agricultural Development plc,2014,"March 26th, 2015",Yidnekachew Dabessa,NaN,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.00,10.00,10.00,8.67,0.11,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.00,10.00,10.00,8.58,0.12,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,78.75,Robusta,luis robles,Ecuador,robustasa,Lavado 1,our own lab,NaN,robustasa,NaN,"san juan, playas",Café Robusta del Ecuador S.A.,1,2 kg,Specialty Coffee Association,2016,"January 19th, 2016",Luis Robles,NaN,NaN,7.75,7.58,7.33,7.58,5.08,7.83,10.00,10.00,7.75,7.83,0.00,0,0.0,Blue-Green,1,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1335,78.08,Robusta,luis robles,Ecuador,robustasa,Lavado 3,own laboratory,NaN,robustasa,40,"san juan, playas",Café Robusta del Ecuador S.A.,1,2 kg,Specialty Coffee Association,2016,"January 19th, 2016",Luis Robles,NaN,NaN,7.50,7.67,7.75,7.75,5.17,5.25,10.00,10.00,8.42,8.58,0.00,0,0.0,Blue-Green,0,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,40.0,40.0,40.0
1336,77.17,Robusta,james moore,United States,fazenda cazengo,NaN,cafe cazengo,NaN,global opportunity fund,795 meters,"kwanza norte province, angola",Cafe Cazengo,1,1 kg,Specialty Coffee Association,2014,"December 23rd, 2014",James Moore,NaN,Natural / Dry,7.33,7.33,7.17,7.42,7.50,7.17,9.33,9.33,7.42,7.17,0.00,0,0.0,NaN,6,"December 23rd, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,795.0,795.0,795.0
1337,75.08,Robusta,cafe politico,India,NaN,NaN,NaN,14-1118-2014-0087,cafe politico,NaN,NaN,NaN,1,5 lbs,Specialty Coffee Association,2013,"August 25th, 2014",Cafe Politico,NaN,Natural / Dry,7.42,6.83,6.75,7.17,7.25,7.00,9.33,9.33,7.08,6.92,0.10,20,0.0,Green,1,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1338,73.75,Robusta,cafe politico,Vietnam,NaN,NaN,NaN,NaN,cafe politico,NaN,NaN,NaN,1,5 lbs,Specialty Coffee Association,2013,"August 25th, 2014",Cafe Politico,NaN,Natural / Dry,6.75,6.67,6.50,6.83,6.92,6.83,9.33,9.33,6.67,7.92,0.12,63,0.0,None,9,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN

In [71]:
df.to_csv('data/exported_file_v1.csv', index=False)

In [72]:
pd.read_csv('data/exported_file_v1.csv')

,total_cup_points,species,owner,country_of_origin,farm_name,lot_number,mill,ico_number,company,altitude,region,producer,number_of_bags,bag_weight,in_country_partner,harvest_year,grading_date,owner_1,variety,processing_method,aroma,flavor,aftertaste,acidity,body,balance,uniformity,clean_cup,sweetness,cupper_points,moisture,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,certification_address,certification_contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,NaN,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.00,10.00,10.00,8.75,0.12,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.00,10.00,10.00,8.58,0.12,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,NaN,NaN,5,1,Specialty Coffee Association,NaN,"May 31st, 2010",Grounds for Health Admin,Bourbon,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.00,10.00,10.00,9.25,0.00,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,320,60 kg,METAD Agricultural Development plc,2014,"March 26th, 2015",Yidnekachew Dabessa,NaN,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.00,10.00,10.00,8.67,0.11,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.00,10.00,10.00,8.58,0.12,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,78.75,Robusta,luis robles,Ecuador,robustasa,Lavado 1,our own lab,NaN,robustasa,NaN,"san juan, playas",Café Robusta del Ecuador S.A.,1,2 kg,Specialty Coffee Association,2016,"January 19th, 2016",Luis Robles,NaN,NaN,7.75,7.58,7.33,7.58,5.08,7.83,10.00,10.00,7.75,7.83,0.00,0,0.0,Blue-Green,1,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1335,78.08,Robusta,luis robles,Ecuador,robustasa,Lavado 3,own laboratory,NaN,robustasa,40,"san juan, playas",Café Robusta del Ecuador S.A.,1,2 kg,Specialty Coffee Association,2016,"January 19th, 2016",Luis Robles,NaN,NaN,7.50,7.67,7.75,7.75,5.17,5.25,10.00,10.00,8.42,8.58,0.00,0,0.0,Blue-Green,0,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,40.0,40.0,40.0
1336,77.17,Robusta,james moore,United States,fazenda cazengo,NaN,cafe cazengo,NaN,global opportunity fund,795 meters,"kwanza norte province, angola",Cafe Cazengo,1,1 kg,Specialty Coffee Association,2014,"December 23rd, 2014",James Moore,NaN,Natural / Dry,7.33,7.33,7.17,7.42,7.50,7.17,9.33,9.33,7.42,7.17,0.00,0,0.0,NaN,6,"December 23rd, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,795.0,795.0,795.0
1337,75.08,Robusta,cafe politico,India,NaN,NaN,NaN,14-1118-2014-0087,cafe politico,NaN,NaN,NaN,1,5 lbs,Specialty Coffee Association,2013,"August 25th, 2014",Cafe Politico,NaN,Natural / Dry,7.42,6.83,6.75,7.17,7.25,7.00,9.33,9.33,7.08,6.92,0.10,20,0.0,Green,1,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1338,73.75,Robusta,cafe politico,Vietnam,NaN,NaN,NaN,NaN,cafe politico,NaN,NaN,NaN,1,5 lbs,Specialty Coffee Association,2013,"August 25th, 2014",Cafe Politico,NaN,Natural / Dry,6.75,6.67,6.50,6.83,6.92,6.83,9.33,9.33,6.67,7.92,0.12,63,0.0,None,9,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN

In [60]:
#pd.read_csv('data/exported_file_v2.csv', index_col=0)

,unplanted3,planted3,unplanted7,planted7,unplanted10,planted10,wether,parameter,date
0,0.000000,78.636959,84.820995,52.068175,84.783652,85.310734,wet,turbidity,2018-02-09
1,0.000000,14.616304,14.015557,0.000000,40.375704,28.928829,wet,turbidity,2018-02-15
2,80.511993,89.752898,87.460473,89.376096,94.163425,87.193210,wet,turbidity,2018-02-22
3,75.900402,87.403649,80.646947,93.727934,93.886463,94.274587,wet,turbidity,2018-03-01
4,15.042991,69.794541,49.785408,82.442805,17.340252,78.333261,wet,turbidity,2018-03-08
...,...,...,...,...,...,...,...,...,...
215,65.309446,87.153652,74.054054,86.700913,63.328034,91.534091,wet,pt,2018-10-05
216,0.000000,48.520710,38.206278,0.000000,34.740545,71.739130,wet,pt,2018-10-11
217,28.395062,83.783784,66.559486,100.000000,100.000000,100.000000,wet,pt,2018-10-18
218,59.640103,100.000000,44.281525,100.000000,100.000000,100.000000,wet,pt,2018-10-25
219,10.194175,100.000000,100.000000,100.000000,100.000000,100.000000,wet,pt,2018-10-31

**NOTE**: If you do not specify the argument `index=False`, the output in the csv file will create an unnamed index column with the *dataframe indexes*.

In [ ]:
df.to_csv('data/exported_file.csv', index=False)

## Export to csv using a specific separator

### Semicolon

In [53]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [73]:
df.to_csv('data/exported_file_semicolon_excel.xlsx', index=False, sep=';')

In [75]:
pd.read_csv('data/exported_file_semicolon_excel.xlsx',sep=';')

,total_cup_points,species,owner,country_of_origin,farm_name,lot_number,mill,ico_number,company,altitude,region,producer,number_of_bags,bag_weight,in_country_partner,harvest_year,grading_date,owner_1,variety,processing_method,aroma,flavor,aftertaste,acidity,body,balance,uniformity,clean_cup,sweetness,cupper_points,moisture,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,certification_address,certification_contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,NaN,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.00,10.00,10.00,8.75,0.12,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.00,10.00,10.00,8.58,0.12,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,NaN,NaN,5,1,Specialty Coffee Association,NaN,"May 31st, 2010",Grounds for Health Admin,Bourbon,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.00,10.00,10.00,9.25,0.00,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,320,60 kg,METAD Agricultural Development plc,2014,"March 26th, 2015",Yidnekachew Dabessa,NaN,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.00,10.00,10.00,8.67,0.11,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.00,10.00,10.00,8.58,0.12,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,78.75,Robusta,luis robles,Ecuador,robustasa,Lavado 1,our own lab,NaN,robustasa,NaN,"san juan, playas",Café Robusta del Ecuador S.A.,1,2 kg,Specialty Coffee Association,2016,"January 19th, 2016",Luis Robles,NaN,NaN,7.75,7.58,7.33,7.58,5.08,7.83,10.00,10.00,7.75,7.83,0.00,0,0.0,Blue-Green,1,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1335,78.08,Robusta,luis robles,Ecuador,robustasa,Lavado 3,own laboratory,NaN,robustasa,40,"san juan, playas",Café Robusta del Ecuador S.A.,1,2 kg,Specialty Coffee Association,2016,"January 19th, 2016",Luis Robles,NaN,NaN,7.50,7.67,7.75,7.75,5.17,5.25,10.00,10.00,8.42,8.58,0.00,0,0.0,Blue-Green,0,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,40.0,40.0,40.0
1336,77.17,Robusta,james moore,United States,fazenda cazengo,NaN,cafe cazengo,NaN,global opportunity fund,795 meters,"kwanza norte province, angola",Cafe Cazengo,1,1 kg,Specialty Coffee Association,2014,"December 23rd, 2014",James Moore,NaN,Natural / Dry,7.33,7.33,7.17,7.42,7.50,7.17,9.33,9.33,7.42,7.17,0.00,0,0.0,NaN,6,"December 23rd, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,795.0,795.0,795.0
1337,75.08,Robusta,cafe politico,India,NaN,NaN,NaN,14-1118-2014-0087,cafe politico,NaN,NaN,NaN,1,5 lbs,Specialty Coffee Association,2013,"August 25th, 2014",Cafe Politico,NaN,Natural / Dry,7.42,6.83,6.75,7.17,7.25,7.00,9.33,9.33,7.08,6.92,0.10,20,0.0,Green,1,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1338,73.75,Robusta,cafe politico,Vietnam,NaN,NaN,NaN,NaN,cafe politico,NaN,NaN,NaN,1,5 lbs,Specialty Coffee Association,2013,"August 25th, 2014",Cafe Politico,NaN,Natural / Dry,6.75,6.67,6.50,6.83,6.92,6.83,9.33,9.33,6.67,7.92,0.12,63,0.0,None,9,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN

### Pipe

In [ ]:
df.to_csv('data/exported_file_pipe.csv', index=False, sep='|')

### plust or minus

In [ ]:
df.to_csv('data/exported_file_plusminus.csv', index=False, sep='±')

## Export TO EXCEL

In [76]:
df.to_excel('data/aldrey_treated_newversion2.xlsx', sheet_name='treated')

In [77]:
pd.read_excel('data/aldrey_treated_newversion2.xlsx')

,Unnamed: 0,total_cup_points,species,owner,country_of_origin,farm_name,lot_number,mill,ico_number,company,altitude,region,producer,number_of_bags,bag_weight,in_country_partner,harvest_year,grading_date,owner_1,variety,processing_method,aroma,flavor,aftertaste,acidity,body,balance,uniformity,clean_cup,sweetness,cupper_points,moisture,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,certification_address,certification_contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,0,90.58,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,NaN,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.00,10.00,10.00,8.75,0.12,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,1,89.92,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.00,10.00,10.00,8.58,0.12,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,NaN,NaN,5,1,Specialty Coffee Association,NaN,"May 31st, 2010",Grounds for Health Admin,Bourbon,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.00,10.00,10.00,9.25,0.00,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,320,60 kg,METAD Agricultural Development plc,2014,"March 26th, 2015",Yidnekachew Dabessa,NaN,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.00,10.00,10.00,8.67,0.11,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,4,88.83,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.00,10.00,10.00,8.58,0.12,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,1334,78.75,Robusta,luis robles,Ecuador,robustasa,Lavado 1,our own lab,NaN,robustasa,NaN,"san juan, playas",Café Robusta del Ecuador S.A.,1,2 kg,Specialty Coffee Association,2016,"January 19th, 2016",Luis Robles,NaN,NaN,7.75,7.58,7.33,7.58,5.08,7.83,10.00,10.00,7.75,7.83,0.00,0,0.0,Blue-Green,1,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1335,1335,78.08,Robusta,luis robles,Ecuador,robustasa,Lavado 3,own laboratory,NaN,robustasa,40,"san juan, playas",Café Robusta del Ecuador S.A.,1,2 kg,Specialty Coffee Association,2016,"January 19th, 2016",Luis Robles,NaN,NaN,7.50,7.67,7.75,7.75,5.17,5.25,10.00,10.00,8.42,8.58,0.00,0,0.0,Blue-Green,0,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,40.0,40.0,40.0
1336,1336,77.17,Robusta,james moore,United States,fazenda cazengo,NaN,cafe cazengo,NaN,global opportunity fund,795 meters,"kwanza norte province, angola",Cafe Cazengo,1,1 kg,Specialty Coffee Association,2014,"December 23rd, 2014",James Moore,NaN,Natural / Dry,7.33,7.33,7.17,7.42,7.50,7.17,9.33,9.33,7.42,7.17,0.00,0,0.0,NaN,6,"December 23rd, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,795.0,795.0,795.0
1337,1337,75.08,Robusta,cafe politico,India,NaN,NaN,NaN,14-1118-2014-0087,cafe politico,NaN,NaN,NaN,1,5 lbs,Specialty Coffee Association,2013,"August 25th, 2014",Cafe Politico,NaN,Natural / Dry,7.42,6.83,6.75,7.17,7.25,7.00,9.33,9.33,7.08,6.92,0.10,20,0.0,Green,1,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1338,1338,73.75,Robusta,cafe politico,Vietnam,NaN,NaN,NaN,NaN,cafe politico,NaN,NaN,NaN,1,5 lbs,Specialty Coffee Association,2013,"August 25th, 2014",Cafe Politico,NaN,Natural / Dry,6.75,6.67,6.50,6.83,6.92,6.83,9.33,9.33,6.67,7.92,0.12,63,0.0,None,9,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN

## Cool Application: Google Sheets

- get the shareable link and replace the last piece of the url 
    - replace `/edit?usp=sharing` by `/export?format=csv`
    
(https://stackoverflow.com/questions/19611729/getting-google-spreadsheet-csv-into-a-pandas-dataframe)

In [112]:
def read_from_gsheets(spreadsheet):
    """
    Transform url into csv 
    """
    working_spreadsheet = spreadsheet.replace('/edit?usp=sharing','/export?format=csv')
    
    return pd.read_csv(working_spreadsheet)

In [113]:
read_from_gsheets('https://docs.google.com/spreadsheets/d/1GFJqglHnAgnZ0kfBOmgkN8cFq0q2u1LtQNbKvrkRCJ0/edit?usp=sharing')

            Timestamp Qual é a sua altura?
0  8/18/2021 11:22:40                 1.62
1  8/18/2021 11:22:43                  1.6
2  8/18/2021 11:22:47                 1.55
3  8/18/2021 11:22:54                177cm
4  8/18/2021 11:22:56                  154

-------

# Import and export JSON file

What is a JSON file?

JSON 1:
```json
{ "name":"John", "age":30, "car":null }
```

JSON 2: 
```json
{"students":[
   {"name":"Andre", "age":23, "state":"SP"},
   {"name":"Rodrigo", "age":28, "state":"SP"},
   {"name":"Raiana", "age":27, "state":"DF"},
   {"name":"Tieko", "age":28, "state":"BA"}
]}
```

In [106]:
data = pd.read_json('data/vehicles.json')

In [107]:
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

For a JSON file, you can have different `orient` options.

`'split'`: Dictionary containing indexes, columns, and data.

`'index'`: Nested dictionaries containing {index:{column:value}}.

`'columns'`: Nested dictionaries containing {column:{index:value}}

`'values'`: Nested list where each sublist contains the values for a record.

`'table'`: Nested dictionaries containing schema and data (records).

In [64]:
data.sample(10).to_json('data/vehicles_split.json', orient='split')
data.sample(10).to_json('data/vehicles_index.json', orient='index')
data.sample(10).to_json('data/vehicles_columns.json', orient='columns')
data.sample(10).to_json('data/vehicles_values.json', orient='values')
data.sample(10).to_json('data/vehicles_table.json', orient='table')

In [110]:
 pd.read_json('data/vehicles_index.json',orient = 'index')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
30670,Saturn,Relay FWD,2007,3.9,6,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Gasoline or E85,17.347895,16,23,19,467.736842,1750
22959,Mazda,MX-5,2008,2.0,4,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,13.733750,22,27,24,370.291667,1700
11788,Ford,E150 Club Wagon,2002,5.4,8,Automatic 4-spd,Rear-Wheel Drive,"Vans, Passenger Type",Regular,25.354615,12,16,13,683.615385,2550
5533,Chevrolet,Corvette,2002,5.7,8,Manual 6-spd,Rear-Wheel Drive,Two Seaters,Premium,16.480500,17,26,20,444.350000,2000
3968,Cadillac,Cimarron,1987,2.8,6,Automatic 3-spd,Front-Wheel Drive,Compact Cars,Regular,16.480500,18,24,20,444.350000,1650
30908,Scion,xA,2005,1.5,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,10.987000,27,34,30,296.233333,1100
10177,Dodge,Intrepid,1998,2.7,6,Automatic 4-spd,Front-Wheel Drive,Large Cars,Regular,14.982273,18,28,22,403.954545,1500
9284,Dodge,Caravan/Ram Van 2WD,1984,2.6,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,18.311667,17,20,18,493.722222,1850
33983,Toyota,Tundra 2WD,2014,5.7,8,Automatic (S6),Rear-Wheel Drive,Standard Pickup Trucks 2WD,Regular,21.974000,13,18,15,602.000000,2200
28105,Plymouth,Turismo,1985,2.2,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Premium,15.695714,18,27,21,423.190476,1950