# Lab-Data-Manipulation-Aggregations

#### 1. Import Pandas package under the alias pd and Numpy under the alias np.

In [ ]:
# your code here

#### 2. Define a variable called `path` that contains the path to the csv file you downloaded (apple_store.csv).

In [ ]:
# your code here

#### 3. Using pandas, read the file into a dataframe.

Assign the returned value to a variable called `data`.

In [ ]:
# your code here

#### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [ ]:
# your code here

#### 5. Print the summary of the data.

In [ ]:
# your code here

#### 6. Print the number of columns in the data.

In [ ]:
# your code here

#### 7. Print all column names.

In [ ]:
# your code here

#### 8.Now that we have a general understanding of the data, we'll start working on the challenge questions. How many apps are there in the data source? Print the number of observations of the data.

**Hint**: Your code should return the number 7197.

In [ ]:
# your code here

#### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [ ]:
# your code here

Now you can calculate the average of the `user_rating` data.

**Hint**: Your code should return 3.526955675976101.

In [ ]:
# your code here

#### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [ ]:
# your code here

Now obtain the length of `user_rating_high` which should return 4781.

In [ ]:
# your code here

#### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [ ]:
# your code here

Print the length of the unique values of `genres`. Your code should return 23.

In [ ]:
# your code here

#### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [ ]:
# your code here

#### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [ ]:
# your code here

#### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [ ]:
# your code here

#### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [ ]:
# your code here

# Bonus Challenge

### The second part of this lab consists of grouping and merging results to obtain valuable information.

In [ ]:
# setup from the M01-L10-data_manipulation_filtering

ufo = pd.read_csv('data/ufo.csv', sep = ';')
ufo = ufo.rename(columns = {'encounter_length': 'encounter_seconds'})
ufo_vars = ufo.loc[:, ['year', 'month', 'state', 'country', 'ufo_shape', 'encounter_seconds']]
ufo_us = ufo_vars.loc[ufo_vars['country'] == 'us', :]

## Let's calculate the average of the encounter for each country.

We should now group the results by the country column to see what is the mean encounter_seconds for each country. Do this using the `groupby` method of your dataframe `ufo_vars`. What is the average of the encounter for the us? And for Canada?

Remember that after grouping by a column, you have to specify a `aggregating function`. If you don't do that, the results of the groupby will only be a `groupby` pandas object. For this case, we want the aggregating function to be the `mean` function and then the results will appear for us.

Also remember that **if you don't** specify the `as_index=False` argument, the variables you use to group are going to become your new indexes.

Expected output:


|    | country   |    year |   month |   encounter_seconds |
|---:|:----------|--------:|--------:|--------------------:|
|  0 | au        | 2002.69 | 6.12825 |             3806.47 |
|  1 | ca        | 2003.69 | 6.86167 |            28859.43 |
|  2 | de        | 2001.54 | 6.24762 |            24255.98 |
|  3 | gb        | 2003.65 | 6.5622  |            66061.32 |
|  4 | us        | 2004.09 | 6.8616  |             5800.19 |

In [ ]:
# your code here

## Perform the same task, but instead of calculating the mean, count how many occurrances for each country.

For this case, the aggregating function should be the `count` function. Try to understand the results for each column.

Expected output:


|    | country   |   year |   month |   state |   ufo_shape |   encounter_seconds |
|---:|:----------|-------:|--------:|--------:|------------:|--------------------:|
|  0 | au        |    538 |     538 |      10 |         527 |                 538 |
|  1 | ca        |   3000 |    3000 |    2985 |        2955 |                3000 |
|  2 | de        |    105 |     105 |       0 |         103 |                 105 |
|  3 | gb        |   1905 |    1905 |      12 |        1855 |                1905 |
|  4 | us        |  65114 |   65114 |   65114 |       63561 |               65112 |

In [ ]:
# your code here

## Perform the same task, but instead of calculating the mean, use the `.describe()` aggregating function to see the effects.

The describe aggregating function will show you several important statistics for the grouped results, such as `mean`, `median`, `standard deviation`, `count`, `max`, `min`, and so on.

*Hint: If it starts to get difficult to see the results, you can tranpose the resulting dataframe by just putting a `.T` at the end.*

Expected output:


|                   |   count |       mean |          std |      min |   25% |   50% |   75% |           max |
|:------------------|--------:|-----------:|-------------:|---------:|------:|------:|------:|--------------:|
| year              |   80332 | 2003.85    |     10.4268  | 1906     |  2001 |  2006 |  2011 | 2014          |
| month             |   80332 |    6.83491 |      3.23486 |    1     |     4 |     7 |     9 |   12          |
| encounter_seconds |   80329 | 9017.23    | 620228       |    0.001 |    30 |   180 |   600 |    97836000   |

In [ ]:
# your code here

## Now, let's get deeper in the analysis and group the results not only by country. But by `country` and `year`

In [ ]:
# your code here

# Which months are the ones with the highest numbers of occurrences?

**Example of output:**


|   month |   occurrences |
|--------:|--------------:|
|       7 |          9520 |
|       8 |          8636 |
|       6 |          8152 |
|       9 |          7589 |
|      10 |          7407 |
|      11 |          6739 |
|       1 |          5689 |
|      12 |          5665 |
|       4 |          5527 |
|       3 |          5450 |
|       5 |          5293 |
|       2 |          4665 |

In [ ]:
# your code here

# Finally, you gathered information about the UFO dataset. Using your last result, try to bring that information for your original dataset.

1. Store the results of your previous analysis (the mean value for the encounter_seconds for each year and each country) in a dataframe called `avg_results`. 

Expected output:

|     | country   |   year |   encounter_seconds |
|----:|:----------|-------:|--------------------:|
|   0 | au        |   1958 |      2700           |
|   1 | au        |   1960 |       180           |
|   2 | au        |   1967 |       300           |
|   3 | au        |   1968 |       300           |
|   4 | au        |   1972 |       403.333       | 
|   ... | ...        |   ... |       ...       | 
| 277 | us        |   2010 |      2271.99        |
| 278 | us        |   2011 |      2544.29        |
| 279 | us        |   2012 |     10640.6         |
| 280 | us        |   2013 |      1266.39        |
| 281 | us        |   2014 |       782.373       |

In [ ]:
# your code here

2. Rename the column named `encounter_seconds` to `avg_encounter_seconds`.

Expected output:

|     | country   |   year |   avg_encounter_seconds |
|----:|:----------|-------:|--------------------:|
|   0 | au        |   1958 |      2700           |
|   1 | au        |   1960 |       180           |
|   2 | au        |   1967 |       300           |
|   3 | au        |   1968 |       300           |
|   4 | au        |   1972 |       403.333       | 
|   ... | ...        |   ... |       ...       | 
| 277 | us        |   2010 |      2271.99        |
| 278 | us        |   2011 |      2544.29        |
| 279 | us        |   2012 |     10640.6         |
| 280 | us        |   2013 |      1266.39        |
| 281 | us        |   2014 |       782.373       |

In [ ]:
# your code here

3. Use the pd.merge( ... ) function to bring that new collected information to your original dataset.
The pd.merge() function requires several arguments, let's understand the most important ones.

`left` is the dataframe you want to bring information **to** - the table on the left. 

`right` is the dataframe you want to bring information **from** - the table on the right. 

`on` is the key you want to perform the merge. That is, if those values are **exactly equal** in both dataframes, then the information will be brought.

Put your results on a dataframe called `merged_ufo`

In [ ]:
# your code here

Check how many rows the final result has and try to explain it. Did the dataset get smaller? Bigger? Or the same? Can you explain why? 

*hint: If you've found something weird, try looking back at your original dataframe and find something interesting on it.*

In [ ]:
# your code here

## Store the results into a new csv file called `ufo_enriched.csv`. 

Don't forget to use `index=False`.

In [ ]:
# your code here